* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  zoom: 80%;
}

/* ------ Background do site --------- */
body {
  background-image: url('Thumb_Abr_2023.jpg');
  min-width: 600px;

  font-family: cursive;
}
.background {
  animation: backgroundAnimated 29000s linear infinite;
}
/* ---------------------------- */


/* --- Scroll Design ---*/
::-webkit-scrollbar-track{

border: 5px solid rgb(79, 80, 0);
background-color: #fbff8f;
}

::-webkit-scrollbar
{
width: 15px;
background-color: #fdff6d;
}

::-webkit-scrollbar-thumb
{
background-color: #adaa02;
border-radius: 10px;
}
/* ------------------------- */


/* ------ Links ------- */
a {
  text-decoration: none;
  color: purple;

}
a:hover {
  font-weight: bold;
}
/* -------------------- */

/* --------- Topnav ---------- */
h1 {
text-align: center;

background-color: rgba(204, 200, 200, 0.705);
border: 4px solid purple;
padding: 5px;
border-radius: 60%;
border-style: inset;
}
h1 img {
display: block;
margin: auto;

width: 100px;

animation: FadeIn 1s linear;
}
h2 {
  cursor: pointer;
}
#banner {
  border: 5px solid;
  border-color: white;

  animation: topnavAnimate 1.5s linear;
}
.topnav {
  border-radius: 20px;
  overflow: hidden;
  background: url(../../SummerBackground.gif);
  background-position: center;
  background-size: cover;
}
.topnav a {
  border: 2px solid;
  border-color: black;

  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 17px;
}
#winter {
  transition: all ease-out 0.3s;
}
#winter:hover {
  background-color: rgba(194, 205, 216);
  font-weight: bolder;
  color: black;
  cursor: pointer;
}
#spring {
  transition: all ease-out 0.3s;
}
#spring:hover {
  background-color: rgb(61, 247, 117);
  font-weight: bolder;
  color: rgb(163, 165, 42);
}
#summer {
  background-color: yellow;
  font-weight: bolder;
  color: red;
  cursor: default;
}
#fall {
  transition: all ease-out 0.3s;
}
#fall:hover {
  background-color: brown;
  font-weight: bolder;
  color: orange;
  cursor: pointer;
}
.topnav a.active, #home {
  border-radius: 15px 0px 0px 15px;
}
.topnav a.active, #phoneIcon {
  background-color: white;
  color: black;
}
#phoneIcon {
  height: 63px;
}
.topnav .icon {
  display: none;
}
/* ----------------------------------- */


section {
  width: 98%;
  margin: auto;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 7;
  /* Sit on top */
  padding-top: 80px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}
.modal:hover {
  cursor:pointer;
}

.myImages:hover {
  cursor:zoom-in;
}

.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
}

#caption {
  background-color: #1f1f1f;
  border: 2px solid white;
  border-radius: 20px 0px 0px 20px;
  display: block;
  position: fixed;
  z-index: 1;
  text-align: center;
  width: 30%;
  color: #ccc;
  padding: 10px 0;
  font-size: 25px;
}

.modal-content, .grid-thumb, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* ------ Sections ------ */
  /* ---------- SlideShow ----------------- */

img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 450px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #ff0000;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 50% 0% 0% 50%;
}
.prev {
   border-radius: 0% 50% 50% 0%;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: rgb(234, 255, 0);
  color: lightorange;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #b53e03;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  left: 40%;
  top: 0;
  margin: auto;
  border-radius: 0% 0% 100% 100%;
  transition: 0.5s ease;

  background-color: rgb(255, 238, 0);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

#spoiler {
  filter: blur(4px);
  background-color: #00000040;

  transition: all ease-in 0.1s;
}
#spoiler:hover {
  filter: blur(0px);
  font-style: normal;

  border-radius: 5px;
}
/* --------------------------------------------- */
    /* -------------------Estréias -------------------------- */
.Estréias {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.726);
  border: 3px solid;
  border-radius: 10px;
  border-color: black;

  animation: FadeIn 0.5s linear;
}
#estreiasTitle {
  text-align: center;
  padding-bottom: 20px;
  font-size: 40px;

  border: 3px solid;
  border-color: black;
  border-top:hidden ; border-left: hidden; border-right: hidden;
}
  /* -------------------------------------------------------- */
  /* -------------------- Continuações ------------------------ */
.Continuacoes {
  background-color: rgba(168, 167, 167, 0.726);
  border: 3px solid;
  border-radius: 10px;
  border-color: black;
}
#continuacoesTitle {
  text-align: center;
  padding-bottom: 20px;
  font-size: 40px;

  border: 3px solid;
  border-color: black;
  border-top:hidden ; border-left: hidden; border-right: hidden;
}
  /* ---------------------------------------------------------------- */
/* --------------------------- */


/* Título do anime -------------------- */
.animeTitle {
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 1px rgb(235, 255, 87);
  -webkit-text-stroke-width: 1px; /* largura da borda */
  -webkit-text-stroke-color: rgb(229, 255, 0); /* cor da borda */
}
.english {
  color: rgb(153, 153, 43);
  text-shadow: 2px 2px black;
  -webkit-text-stroke-width: 1px; /* largura da borda */
  -webkit-text-stroke-color: black; /* cor da borda */
   
}

video::-webkit-media-controls-play-button {
  display: none;
}
video::-webkit-media-controls-fullscreen-button, video::-webkit-media-controls-mute-button{
  transition: all 0.2s;
}
video::-webkit-media-controls-fullscreen-button:hover, video::-webkit-media-controls-mute-button:hover{
  background-color: rgba(229, 255, 0, 0.556);
  border-radius: 50%
}
video::-webkit-media-controls-volume-slider {
  background-color: rgb(238, 255, 0);
  padding-top: 0;
  margin-top: 20px;
  padding-bottom: 0;
}

video::-webkit-media-controls-timeline {
  margin: auto;
  background-color: #94a704;
  border-radius: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 20px;
}
video::-webkit-media-controls-current-time-display, video::-webkit-media-controls-time-remaining-display {
  color: #e8ea75;
  font-family: cursive;
  font-weight: bolder;
}
video::cue {
  font-size: 20px;
}


#ryza {
  margin: 10px;
  
  background-color: rgba(101, 142, 167, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(241, 212, 137);
}
#ryza p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#ryza video {
  border: 5px solid;
  border-color: rgb(159, 59, 45);
  border-radius: 25px;
}
#ryzaThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(159, 59, 45);
  
  width: 450px;
  margin: auto;
}

#kaisha {
  margin: 10px;
  
  background-color: rgba(141, 142, 196, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(122, 110, 110);
}
#kaisha p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#kaisha video {
  border: 5px solid;
  border-color: rgb(223, 176, 162);
  border-radius: 25px;
}
#kaishaThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(223, 176, 162);
  
  width: 450px;
  margin: auto;
}

#fate {
  margin: 10px;
  
  background-color: rgba(114, 229, 255, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(206, 209, 201);
}
#fate p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#fate video {
  border: 5px solid;
  border-color: rgb(159, 59, 45);
  border-radius: 25px;
}
#fateThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(159, 59, 45);
  
  width: 450px;
  margin: auto;
}

#maou {
  margin: 10px;
  
  background-color: rgba(91, 215, 213, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(97, 107, 119);
}
#maou p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#maou video {
  border: 5px solid;
  border-color: rgb(122, 138, 151);
  border-radius: 25px;
}
#maouThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(122, 138, 151);
  
  width: 450px;
  margin: auto;
}

#okashi {
  margin: 10px;
  
  background-color: rgba(239, 213, 195, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(194, 80, 92);
}
#okashi p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#okashi video {
  border: 5px solid;
  border-color: rgb(75, 105, 219);
  border-radius: 25px;
}
#okashiThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(75, 105, 219);
  
  width: 450px;
  margin: auto;
}

#megane {
  margin: 10px;
  
  background-color: rgba(208, 149, 149, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(184, 154, 128);
}
#megane p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#megane video {
  border: 5px solid;
  border-color: rgb(131, 50, 55);
  border-radius: 25px;
}
#meganeThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(131, 50, 55);
  
  width: 450px;
  margin: auto;
}

#jidou {
  margin: 10px;
  
  background-color: rgba(249, 227, 168, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(129, 209, 247);
}
#jidou p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#jidou video {
  border: 5px solid;
  border-color: rgb(238, 153, 54);
  border-radius: 25px;
}
#jidouThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(238, 153, 54);
  
  width: 450px;
  margin: auto;
}

#marriage {
  margin: 10px;
  
  background-color: rgba(254, 197, 230, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(85, 76, 95);
}
#marriage p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#marriage video {
  border: 5px solid;
  border-color: rgb(252, 204, 133);
  border-radius: 25px;
}
#marriageThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(252, 204, 133);
  
  width: 450px;
  margin: auto;
}

#kenshin {
  margin: 10px;
  
  background-color: rgba(213, 206, 199, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(224, 127, 86);
}
#kenshin p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#kenshin video {
  border: 5px solid;
  border-color: rgb(172, 56, 60);
  border-radius: 25px;
}
#kenshinThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(172, 56, 60);
  
  width: 450px;
  margin: auto;
}

#seven {
  margin: 10px;
  
  background-color: rgba(4, 29, 81, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(116, 53, 172);
}
#seven p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#seven video {
  border: 5px solid;
  border-color: rgb(106, 65, 123);
  border-radius: 25px;
}
#sevenThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(106, 65, 123);
  
  width: 450px;
  margin: auto;
}

#AI {
  margin: 10px;
  
  background-color: rgba(28, 28, 28, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
}
#AI p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#AI video {
  border: 5px solid;
  border-color: rgb(233, 233, 233);
  border-radius: 25px;
}
#AIThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(233, 233, 233);
  
  width: 450px;
  margin: auto;
}

#neko {
  margin: 10px;
  
  background-color: rgba(69, 6, 0, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(254, 240, 229);
}
#neko p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#neko video {
  border: 5px solid;
  border-color: rgb(0, 0, 0);
  border-radius: 25px;
}
#nekoThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(0, 0, 0);
  
  width: 450px;
  margin: auto;
}

#temple {
  margin: 10px;
  
  background-color: rgba(255, 255, 255, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(176, 52, 50);
}
#temple p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#temple video {
  border: 5px solid;
  border-color: rgb(111, 54, 146);
  border-radius: 25px;
}
#templeThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(111, 54, 146);
  
  width: 450px;
  margin: auto;
}

#lv1 {
  margin: 10px;
  
  background-color: rgba(92, 141, 242, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(52, 66, 89);
}
#lv1 p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#lv1 video {
  border: 5px solid;
  border-color: rgb(56, 112, 100);
  border-radius: 25px;
}
#lv1Thumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(56, 112, 100);
  
  width: 450px;
  margin: auto;
}

#liar {
  margin: 10px;
  
  background-color: rgba(44, 48, 109, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(231, 242, 249);
}
#liar p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#liar video {
  border: 5px solid;
  border-color: rgb(215, 60, 122);
  border-radius: 25px;
}
#liarThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(215, 60, 122);
  
  width: 450px;
  margin: auto;
}

#zom {
  margin: 10px;
  
  background-color: rgba(0, 0, 0, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(255, 238, 0);
}
#zom p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#zom video {
  border: 5px solid;
  border-color: rgb(215, 60, 122);
  border-radius: 25px;
}
#zomThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(215, 60, 122);
  
  width: 450px;
  margin: auto;
}

#hero {
  margin: 10px;
  
  background-color: rgba(230, 213, 143, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(250, 249, 245);
}
#hero p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#hero video {
  border: 5px solid;
  border-color: rgb(73, 63, 53);
  border-radius: 25px;
}
#heroThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(73, 63, 53);
  
  width: 450px;
  margin: auto;
}

#dark {
  margin: 10px;
  
  background-color: rgba(73, 51, 64, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(64, 44, 79);
}
#dark p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#dark video {
  border: 5px solid;
  border-color: rgb(204, 69, 90);
  border-radius: 25px;
}
#darkThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(204, 69, 90);
  
  width: 450px;
  margin: auto;
}

#synduality {
  margin: 10px;
  
  background-color: rgba(17, 47, 85, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(227, 227, 227);
}
#synduality p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#synduality video {
  border: 5px solid;
  border-color: rgb(65, 207, 214);
  border-radius: 25px;
}
#syndualityThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(65, 207, 214);
  
  width: 450px;
  margin: auto;
}

#helck {
  margin: 10px;
  
  background-image: linear-gradient(rgba(255, 255, 255, 0.719),rgba(0, 0, 0, 0.719));
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(93, 58, 146);
}
#helck p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#helck video {
  border: 5px solid;
  border-color: rgb(209, 166, 165);
  border-radius: 25px;
}
#helckThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(209, 166, 165);
  
  width: 450px;
  margin: auto;
}

#ayaka {
  margin: 10px;
  
  background-color: rgba(1, 52, 109, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(162, 209, 216);
}
#ayaka p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#ayaka video {
  border: 5px solid;
  border-color: rgb(177, 69, 35);
  border-radius: 25px;
}
#ayakaThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(177, 69, 35);
  
  width: 450px;
  margin: auto;
}

#higeki {
  margin: 10px;
  
  background-color: rgba(154, 43, 47, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(189, 60, 170);
}
#higeki p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#higeki video {
  border: 5px solid;
  border-color: rgb(46, 5, 34);
  border-radius: 25px;
}
#higekiThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(46, 5, 34);
  
  width: 450px;
  margin: auto;
}

#jitsu {
  margin: 10px;
  
  background-color: rgba(155, 117, 102, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(235, 48, 75);
}
#jitsu p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#jitsu video {
  border: 5px solid;
  border-color: rgb(251, 246, 200);
  border-radius: 25px;
}
#jitsuThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(251, 246, 200);
  
  width: 450px;
  margin: auto;
}

#cleric {
  margin: 10px;
  
  background-color: rgba(131, 175, 66, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(255, 255, 255);
}
#cleric p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#cleric video {
  border: 5px solid;
  border-color: rgb(34, 89, 170);
  border-radius: 25px;
}
#clericThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(34, 89, 170);
  
  width: 450px;
  margin: auto;
}

#cecilia {
  margin: 10px;
  
  background-color: rgba(237, 209, 187, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(77, 71, 87);
}
#cecilia p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#cecilia video {
  border: 5px solid;
  border-color: rgb(217, 97, 94);
  border-radius: 25px;
}
#ceciliaThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(217, 97, 94);
  
  width: 450px;
  margin: auto;
}

#undead {
  margin: 10px;
  
  background-color: rgba(44, 75, 96, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(190, 96, 79);
}
#undead p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#undead video {
  border: 5px solid;
  border-color: rgb(189, 148, 70);
  border-radius: 25px;
}
#undeadThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(189, 148, 70);
  
  width: 450px;
  margin: auto;
}

#yumemiru {
  margin: 10px;
  
  background-color: rgba(208, 162, 84, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(86, 129, 133);
}
#yumemiru p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#yumemiru video {
  border: 5px solid;
  border-color: rgb(173, 84, 98);
  border-radius: 25px;
}
#yumemiruThumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(173, 84, 98);
  
  width: 450px;
  margin: auto;
}


  

  

#mushoku2 {
  margin: 10px;
  
  background-color: rgba(134, 77, 66, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(94, 89, 83);
}
#mushoku2 p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#mushoku2 video {
  border: 5px solid;
  border-color: rgb(254, 162, 3);
  border-radius: 25px;
}
#mushoku2Thumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(254, 162, 3);
  
  width: 450px;
  margin: auto;
}  

#masamune2 {
  margin: 10px;
  
  background-color: rgba(122, 118, 116, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(52, 50, 61);
}
#masamune2 p {
  padding: 10px;
  border: 3px solid;
  border-color: rgb(89, 0, 0);
  border-radius: 50px;
  
  background-color: rgba(215, 224, 121, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
#masamune2 video {
  border: 5px solid;
  border-color: rgb(128, 60, 53);
  border-radius: 25px;
}
#masamune2Thumb {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(128, 60, 53);
  
  width: 450px;
  margin: auto;
}  

/* ----- info design ----- */
.grid-thumb {
  margin-left: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.source {
  width: 100px;
  vertical-align: middle;
  border-radius: 20px;

  transition: all ease-out 0.5s;
}
.Studio {
  height: 60px;
  vertical-align:middle;

  transition: all ease-out 0.5s;
}
/* ----- trailers ----- */
ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.source:hover, .Studio:hover {
  transform: scale(1.2);
}
/* --------------------------------- */

#buttons {
  display: flex;
  flex-direction: column;
}
#continue img{
  height: 60px;
  width: 60px;
  cursor: pointer;
  position: fixed;
  bottom: 100px;
  right: 32px;
  border-radius: 100%;
  color:#1f1f1f;
  box-shadow: 5px 3px 3px black;
  transition: all .4s;

  z-index: 5;
}
.to-top {    
background: white;
position: fixed;
bottom: 16px;
right:32px;
width:60px;
height:60px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
font-size:32px;
color:#1f1f1f;
text-decoration: none;
box-shadow: 5px 3px 3px black;
opacity:0;
pointer-events: none;
transition: all .4s;
}
.to-top.active {
bottom:32px;
pointer-events: auto;
opacity:1;
}

#anchor {
  text-decoration: none;
  color: #000000;
}

/* ----------------------------------------------- Responsivity --------- */
  /* ----- topnav ----- */
@media screen and (max-width: 973px){
  section {
    width: 95%;
  }

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
      float: right;
      display: block;
  } 

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }
  .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
  }  

  #home {
    border-radius: 15px 0px 0px 15px;
  }
  #phoneIcon {
    border-radius: 0px 15px 15px 0px;
  }
  #fall {
    border-radius: 0px 0px 20px 20px;
  }
}
  /* ---------------- */

  /* ----- design ----- */
@media screen and (max-width: 1300px) {
  ul {
      flex-direction: column;
  } 
  li{
    align-self: center;
    width: 500px;   
  }
}
@media screen and (max-width: 1088px) {
  .grid-thumb {
      display: flex;
      flex-direction: column;
  }
  .Estréias p, .Continuacoes p{
      text-align: center;
  }
  body {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}



@media screen and (max-width: 600px) {
    /* //For Tablets */
    html {
        zoom: 85%;
    }
}
    
@media screen and (min-width: 768px) {
    /* //For Laptops */
    html {
        zoom: 80%;
    }
}

@media screen and (min-width: 992px) {
    /* //For Large Laptops */
    html {
        zoom: 80%;
    }
}

@media screen and (min-width: 1280px) {
    /* //For Big TV's (HD Screens)  */
    html {
        zoom: 80%;
    }
}


@media screen and (min-width: 1920px) {
    /* //For Projectors or Higher Resolution Screens (Full HD) */
    html {
        zoom: 85%;
    }
}
@media screen and (min-width: 3840px) {
    /* //For 4K Displays (Ultra HD) */
    html {
        zoom: 200%;
    }
    
}
  /* ---------------------- */
/* -------------------------------------------- */

/* Animations ------------------- */
@keyframes backgroundAnimated {
  0% {
      background-position: left top;
  }
  50% {
      background-position: right bottom;
  }
  100% {
      background-position: left top;
  }
}
@keyframes topnavAnimate {
  from {
      margin-left: 200%;
      width: 300%
  }
  to {
      margin-left: 0%;
      width: 100%;
  }
}
@keyframes FadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}
