html {
    scroll-behavior: smooth;
  }

body {
    min-width: 543px;
    background-image: url('Temporadas/Home_BG.jpg');

    font-family: cursive;
}
.background {
    animation: backgroundAnimated 20s linear infinite;
}

/* --------- Topnav ---------- */

h1 img {
    display: block;
    margin: auto;

    width: 100px;

    animation: FadeIn 1s linear;
}

#banner {
    border: 5px solid;
    border-color: white;

    animation: topnavAnimate 1.5s linear ;
}
.topnav {
    border-radius: 20px;
    overflow: hidden;
    background: url(Temporadas/SpringBackground.gif);
    background-size: cover;
}
.topnav a {
    border: 2px solid;
    border-color: black;

    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 17px;
}
#winter {
    transition: all ease-out 0.3s;
}
#winter:hover {
    background-color: rgba(194, 205, 216);
    font-weight: bolder;
    color: black;
} 
#spring {
    transition: all ease-out 0.3s;
}
#spring:hover {
    background-color: rgb(61, 247, 117);
    font-weight: bolder;
    color: rgb(163, 165, 42);
}
#summer {
    transition: all ease-out 0.3s;
}
#summer:hover {
    background-color: yellow;
    font-weight: bolder;
    color: red;
}
#fall {
    transition: all ease-out 0.3s;
}
#fall:hover {
    background-color: brown;
    font-weight: bolder;
    color: orange;
    cursor: pointer;
}
.topnav a.active, #phoneIcon {
    background-color: white;
    color: black;
}
.topnav .icon {
    display: none;
}
@media screen and (max-width: 882px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    } 
       
}
@media screen and (max-width: 882px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }    
}
@media screen and (max-width: 882px) {
    #home {
        border-radius: 20px 0px 0px 0px;
    }
    #phoneIcon {
        border-radius: 0px 20px 0px 0px;
    }
    #fall {
        border-radius: 0px 0px 20px 20px;
    }
    
}
/* ----------------------------------- */

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

#Guides {
    padding-bottom: 20px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.726);
    border: 3px solid;
    border-radius: 10px;
    border-color: black;

    animation: FadeIn 2s linear;
}

.yearPaste {
    cursor: pointer;
    width: 150px;

    transition: all ease-out 0.5s;
}
.yearPaste:hover {
    transform: scale(1.4);
}
.SeasonPaste {
    width: 100px;

    transition: all ease-out 0.5s;
}
.SeasonPaste:hover {
    transform: translateY(-50px) scale(1.3);
}

.seasons {
    display: none;

    transition: all ease-out 0.5s;
}
.seasons:hover {
    transform: scale(1.1);
}

#year2022 input[type="checkbox"] {
    display: none;
}
#year2023 input[type="checkbox"] {
    display: none;
}

#year2022 input[type="checkbox"]:checked + div{
    display: flex;
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
} 
#year2023 input[type="checkbox"]:checked + div{
    display: flex;
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
} 

#years {
    text-align: center;
    display: flex;
    justify-content: center;
}

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg)
    }
    70% {
        transform: rotateX(20deg) 
    }
    100% {
        transform: rotateX(0deg) 
    }
}
@keyframes backgroundAnimated {
    0% {
        background-position: left top;
    }
    50% {
        background-position: right bottom;
    }
    100% {
        background-position: left top;
    }
}
@keyframes topnavAnimate {
    from {
        margin-left: 200%;
        width: 300%
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes FadeIn {
    from {
        margin-top: 200%;
        opacity: 0;
    }
    to {
        margin-top: 0%;
        opacity: 1;
    }
}

.drive {
    display: none;
}
.driveLink {
    z-index: 1;
    position: fixed;
    bottom: 16px;
    left:32px;

    width: 8%;

    background-color: white;
    border: 2px solid;
    border-radius: 100%;

    animation: FadeIn 2s linear;
    transition: all ease-out 0.5s;
}
.driveLink:hover {
    transform: scale(1.3);
}

@media screen and (max-width: 882px) {
    .drive {
        display:block;
    }

}

@media screen and (max-width: 882px) {
    #years {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    
}
