* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;  
  
  zoom: 80%;
  }

body {
  background-image: url('../../../Temporadas/2023/Julho2023/Thumb_Jul_2023dark.jpg');
  min-width: 600px;

  font-family: cursive;
  animation: backgroundAnimated 250s linear infinite;
}



/* --- Scroll Design ---*/
::-webkit-scrollbar-track{

  border: 5px solid orange;
  background-color: #461801;
  }
  
  ::-webkit-scrollbar
  {
  width: 15px;
  background-color: brown;
  }
  
  ::-webkit-scrollbar-thumb
  {
  background-color: brown;
  border-radius: 10px;
  }
  /* ------------------------- */

  /* ------ Links ------- */
a {
  text-decoration: none;
  color: purple;

}
a:hover {
  font-weight: bold;
}
/* -------------------- */
  
/* --------- Topnav ---------- */
h1 {
  text-align: center;
  
  background-color: rgba(204, 200, 200, 0.705);
  border: 4px solid purple;
  padding: 5px;
  border-radius: 60%;
  border-style: inset;
  }
h1 img {
  display: block;
  margin: auto;

  width: 100px;

  animation: FadeIn 1s linear;
}

#banner {
  border: 5px solid;
  border-color: white;

  animation: topnavAnimate 1.5s linear ;
}
.topnav {
  border-radius: 20px;
  overflow: hidden;
  background: url(../../../Temporadas/FallBackground.gif);
  background-position: center;
  background-size: cover;
}
.topnav a {
  border: 2px solid;
  border-color: black;

  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 17px;
}
#home {
  transition: all ease-out 0.3s;
}
#home:hover {
  background-color: white;
  font-weight: bolder;
  color: black;
}
#winter {
  transition: all ease-out 0.3s;
}
#winter:hover {
  background-color: rgba(194, 205, 216);
  font-weight: bolder;
  color: black;
} 
#spring {
  transition: all ease-out 0.3s;
}
#spring:hover {
  background-color: rgb(61, 247, 117);
  font-weight: bolder;
  color: rgb(163, 165, 42);
}
#summer {
  transition: all ease-out 0.3s;
}
#summer:hover {
  background-color: yellow;
  font-weight: bolder;
  color: red;
}
#fall {
  transition: all ease-out 0.3s;
}

.topnav a.active, #phoneIcon {
  background-color: brown;
  color: orange;
}
.topnav .icon {
  display: none;
}
/* ----------------------------------- */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 7;
  /* Sit on top */
  padding-top: 80px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}
.modal:hover {
  cursor:pointer;
}
.myImages:hover {
  cursor:zoom-in;
}

.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
}

#caption {
  background-color: #1f1f1f;
  border: 2px solid white;
  border-radius: 20px 0px 0px 20px;
  display: block;
  position: fixed;
  z-index: 1;
  text-align: center;
  width: 30%;
  color: #ccc;
  padding: 10px 0;
  font-size: 25px;
}

.modal-content, .grid-thumb, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* ------ Sections ------ */
  /* ---------- SlideShow ----------------- */
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 450px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: orange;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 70% 0% 0% 70%;
}
.prev {
   border-radius: 0% 50% 50% 0%;
}
/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: brown;
  color: lightorange;
}

/* Number text (1/3 etc) */
.numbertext {
  color: orange;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  left: 40%;
  top: 0;
  margin: auto;
  border-radius: 0% 0% 100% 100%;
  transition: 0.5s ease;

  background-color: brown;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

#spoiler {
  filter: blur(4px);
  background-color: #00000040;

  transition: all ease-in 0.1s;
}
#spoiler:hover {
  filter: blur(0px);
  font-style: normal;

  border-radius: 5px;
}

/* Título do anime -------------------- */
.animeTitle {
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 1px rgb(255, 136, 0);
  -webkit-text-stroke-width: 1px; /* largura da borda */
  -webkit-text-stroke-color: rgb(255, 145, 0); /* cor da borda */
}
.english {
  color: rgb(255, 149, 0);
  text-shadow: 2px 2px black;
  -webkit-text-stroke-width: 1px; /* largura da borda */
  -webkit-text-stroke-color: black; /* cor da borda */  
}

video::-webkit-media-controls-play-button, video::-webkit-media-controls-overflow-button, video::-webkit-media-controls-overflow-menu {
  display: none !important;
}
video::-webkit-media-controls-fullscreen-button, video::-webkit-media-controls-mute-button{
  transition: all 0.2s;
}
video::-webkit-media-controls-fullscreen-button:hover, video::-webkit-media-controls-mute-button:hover{
  background-color: rgba(255, 0, 0, 0.556);
  border-radius: 50%
}
video::-webkit-media-controls-volume-slider {
  background-color: rgb(255, 0, 0);
  padding-top: 0;
  margin-top: 20px;
  padding-bottom: 0;
}

video::-webkit-media-controls-timeline {
  margin: auto;
  background-color: #a74204;
  border-radius: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 20px;
}
video::-webkit-media-controls-current-time-display, video::-webkit-media-controls-time-remaining-display {
  color: #eaa675;
  font-family: cursive;
  font-weight: bolder;
}
video::cue {
  font-size: 20px;
}

.anime-card {
  margin: 10px;
  
  background-color: rgba(125, 38, 0, 0.719);
  
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(255, 94, 0);
}
.anime-card p {
  padding: 10px;
  border: 3px solid;
  border-color: rgba(246, 127, 0, 0.973);
  border-radius: 50px;
  
  background-color: rgba(251, 173, 137, 0.719);
  
  margin: 10px;
  font-size: 24px;
}
.anime-card video {
  border: 5px solid;
  border-color: rgb(159, 59, 45);
  border-radius: 25px;
}
#anime-cardThumb1, #anime-cardThumb2, #anime-cardThumb3, #anime-cardThumb4 {
  border: 5px solid;
  border-radius: 20px;
  border-color: rgb(255, 153, 0);
  
  width: 450px;
  margin: auto;
}

/* ----- info design ----- */
.grid-thumb {
  margin-left: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.source {
  width: 100px;
  vertical-align: middle;
  border-radius: 20px;

  transition: all ease-out 0.5s;
}
.Studio {
  height: 60px;
  vertical-align:middle;
  mix-blend-mode: multiply;

  transition: all ease-out 0.5s;
}

/* ----- trailers ----- */
ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.source:hover, .Studio:hover {
  transform: scale(1.2);
}
/* --------------------------------- */

#buttons {
  display: flex;
  flex-direction: column;
}
.to-top {    
  background: white;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:60px;
  height:60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#1f1f1f;
  text-decoration: none;
  box-shadow: 5px 3px 3px black;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
  }
  .to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}

#anime-chart {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 85%;
  margin-top: 10px;
  background-color: rgba(165, 42, 42, 0.8);
  /* background-color: rgba(255, 255, 255, 0.726); */
  border: 8px ridge;
  border-radius: 10px;
  border-color: rgb(255, 208, 0);
  justify-content: space-around;
}
#anime-chart img {
  border-radius: 20px;
  border: 5px double orange;
  margin: 10px;
}
.image-container {
  position: relative;
}
.image-container img{
  width: 200px;
  height: 295px;
}


.animeCard {
  margin-top: 50px;
  background-color: rgba(136, 96, 68, 0.726);
  border: 3px solid;
  border-radius: 10px;
  border-color: black;

  animation: fade 0.5s linear;
}
.far.fa-star {
  color: rgb(255, 97, 5);
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 100%;
  background-color: rgba(165, 42, 42, 0.8);
  padding: 5px;
}
.fas.fa-star {
  color: orange;
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 100%;
  background-color: rgba(165, 42, 42, 0.8);
  padding: 5px;
}


.image {
  transition: all ease-out 0.5s;
}

.image:hover {
  transform: scale(1.3);
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .image {
      padding: 0px;
  }
}

summary{
  padding: 10px;
  margin: auto;
  list-style: none;
  outline: none;
} 

/* ----------------------------------------------- Responsivity --------- */
/* ----- topnav ----- */
@media screen and (max-width: 882px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
      float: right;
      display: block;
  } 

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }  
  
  #home {
    border-radius: 20px 0px 0px 0px;
  }
  #phoneIcon {
    border-radius: 0px 20px 0px 0px;
  }
  #fall {
    border-radius: 0px 0px 20px 20px;
  }
}

/* ---------------- */

  /* ----- design ----- */
  @media screen and (max-width: 1300px) {
    ul {
        flex-direction: column;
    } 
    li{
      align-self: center;
      width: 500px;   
    }
  }
  @media screen and (max-width: 1088px) {
    .grid-thumb {
        display: flex;
        flex-direction: column;
    }
    .grid-thumb p{
        text-align: center;
    }
    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  }

  @media screen and (max-width: 600px) {
    /* //For Tablets */
    html {
        zoom: 85%;
    }
  }
    
  @media screen and (min-width: 768px) {
    /* //For Laptops */
    html {
        zoom: 80%;
    }
  }
  
  @media screen and (min-width: 992px) {
    /* //For Large Laptops */
    html {
        zoom: 80%;
    }
  }
  
  @media screen and (min-width: 1280px) {
    /* //For Big TV's (HD Screens)  */
    html {
        zoom: 80%;
    }
  }
  
  
  @media screen and (min-width: 1920px) {
    /* //For Projectors or Higher Resolution Screens (Full HD) */
    html {
        zoom: 85%;
    }
    body {
        background-image: url('../../Home_BG_1080p.jpg');
    }
  }
  @media screen and (min-width: 3840px) {
    /* //For 4K Displays (Ultra HD) */
    html {
        zoom: 200%;
    }
    
  }
/* ---------------------- */
/* -------------------------------------------- */

/* Animations ------------------- */
@keyframes backgroundAnimated {
  0% {
    background-position: 0 0;
}
100% {
    background-position: 1000px 1000px; /* Ajuste a velocidade e a distância do movimento aqui */
}
}

@keyframes topnavAnimate {
  from {
      margin-left: 200%;
      width: 300%
  }
  to {
      margin-left: 0%;
      width: 100%;
  }
}

@keyframes FadeIn {
  from {
      margin-top: 200%;
      opacity: 0;
  }
  to {
      margin-top: 0%;
      opacity: 1;
  }
}

@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}