html {
    scroll-behavior: smooth;
  }

/* ------ Background do site --------- */
body {
    background-image: url('Thumb_Jul_2022.jpg');
    min-width: 543px;

    font-family: cursive;
}
.background {
    animation: backgroundAnimated 500s linear infinite;
}
/* ---------------------------- */

::-webkit-scrollbar-track{

	border: 5px solid rgb(251, 255, 0);
	background-color: #000000;
}

::-webkit-scrollbar
{
	width: 15px;
	background-color: #6dff6d;
}

::-webkit-scrollbar-thumb
{
	background-color: #ff2600;
	border-radius: 10px;
}

/* ------ Links ------- */
a {
    text-decoration: none;
    color: purple;

}
a:hover {
    font-weight: bold;
}
/* -------------------- */

/* --------- Topnav ---------- */
#banner {
    border: 5px solid;
    border-color: white;

    animation: topnavAnimate 1.5s linear;
}
.topnav {
    border-radius: 20px;
    overflow: hidden;
    background: url(../../SummerBackground.jfif);
    background-position:left;
    background-size: cover;
}
.topnav a {
    border: 2px solid;
    border-color: black;

    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 17px;
}
#winter {
    transition: all ease-out 0.3s;
}
#winter:hover {
    background-color: rgba(194, 205, 216);
    font-weight: bolder;
    color: black;
    cursor: pointer;
}
#spring {
    transition: all ease-out 0.3s;
}
#spring:hover {
    background-color: rgb(61, 247, 117);
    font-weight: bolder;
    color: rgb(163, 165, 42);
    cursor: pointer;
}
#summer {
    background-color: yellow;
    font-weight: bolder;
    color: red;
    cursor: initial;
}
#fall {
    transition: all ease-out 0.3s;
}
#fall:hover {
    background-color: brown;
    font-weight: bolder;
    color: orange;
    cursor: initial;
}
.topnav a.active, #phoneIcon {
    background-color: white;
    color: black;
}
.topnav .icon {
    display: none;
}
@media screen and (max-width: 973px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    } 
       
}
@media screen and (max-width: 973px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }    
}
@media screen and (max-width: 973px) {
    #home {
        border-radius: 20px 0px 0px 0px;
    }
    #phoneIcon {
        border-radius: 0px 20px 0px 0px;
    }
    #fall {
        border-radius: 0px 0px 20px 20px;
    }
    
}
/* ----------------------------------- */

/* Estréias -------------------------- */
.Estréias {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.726);
    border: 3px solid;
    border-radius: 10px;
    border-color: black;

    animation: FadeIn 0.5s linear;
}
#estreiasTitle {
    text-align: center;
    padding-bottom: 10px;

    border: 3px solid;
    border-color: black;
    border-top:hidden ; border-left: hidden; border-right: hidden;
}

/* Continuações ------------------------ */
.Continuacoes {
    background-color: rgba(168, 167, 167, 0.726);
    border: 3px solid;
    border-radius: 10px;
    border-color: black;
}
#continuacoesTitle {
    text-align: center;
    padding-bottom: 10px;

    border: 3px solid;
    border-color: black;
    border-top:hidden ; border-left: hidden; border-right: hidden;
}

/* Título do anime -------------------- */
.animeTitle {
    text-align: center;
}
#kumichou {
    margin: 10px;
    
    background-color: rgba(46, 75, 155, 0.719);

    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(139, 53, 68);
}
#kumichou p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(180, 89, 102);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
}
#kumichou iframe {
    border: 5px solid;
    border-color: rgb(180, 89, 102);
    border-radius: 25px;
}
#kumichouThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(54, 57, 101);

    width: 350px;
    margin: auto;
}

#bucchigire {
    margin: 10px;
    
    background-color: rgba(46, 75, 155, 0.719);

    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(139, 53, 68);
}
#bucchigire p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(180, 89, 102);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
}
#bucchigire iframe {
    border: 5px solid;
    border-color: rgb(180, 89, 102);
    border-radius: 25px;
}
#bucchigireThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(54, 57, 101);

    width: 350px;
    margin: auto;
}

#engage {
    margin: 10px;
    
    background-color: rgba(146, 130, 164, 0.719);

    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(228, 169, 219);
}
#engage p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(26, 17, 33);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
}
#engage iframe {
    border: 5px solid;
    border-color: rgb(54, 57, 101);
    border-radius: 25px;
}
#engageThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(54, 57, 101);

    width: 350px;
    margin: auto;
}

#rwby {
    margin: 10px;
    
    background-color: rgba(45, 62, 111,0.719);

    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(178, 39, 99);
}
#rwby p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(219, 219, 219);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
}
#rwby iframe {
    border: 5px solid;
    border-color: rgb(178, 178, 43);
    border-radius: 25px;
}
#rwbyThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(178, 178, 43);

    width: 350px;
    margin: auto;
}

#hoshi {
margin: 10px;
    
    background-color: rgba(235, 99, 1, 0.719);

    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(228, 169, 219);
}
#hoshi p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(26, 0, 86);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
}
#hoshi iframe {
    border: 5px solid;
    border-color: rgb(54, 57, 101);
    border-radius: 25px;
}
#hoshiThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(54, 57, 101);

    width: 350px;
    margin: auto;
}

#isekai {
    margin: 10px;
    
    background-color: rgba(37, 55, 35, 0.719);

    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(25, 3, 126);
    }
#isekai p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(0, 0, 0);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
    }
#isekai iframe {
    border: 5px solid;
    border-color: rgb(0, 0, 0);
    border-radius: 25px;
    }
#isekaiThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(200, 193, 6);

    width: 350px;
    margin: auto;
    }

    #isekai {
    margin: 10px;
    
    background-color: rgba(37, 55, 35, 0.719);

    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(25, 3, 126);
    }
#isekai p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(0, 0, 0);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
    }
#isekai iframe {
    border: 5px solid;
    border-color: rgb(0, 0, 0);
    border-radius: 25px;
    }
#isekaiThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(200, 193, 6);

    width: 350px;
    margin: auto;
    }

#ojisan {
    margin: 10px;
    
    background-color: rgba(88, 22, 0, 0.719);

    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(251, 255, 0);
    }
#ojisan p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(0, 181, 184);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
    }
#ojisan iframe {
    border: 5px solid;
    border-color: rgb(0, 181, 184);
    border-radius: 25px;
    }
#ojisanThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(0, 100, 55);

    width: 350px;
    margin: auto;
    }
    
#kuro {
    margin: 10px;
    
    background-color: rgba(43, 43, 43, 0.719);

    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(2, 90, 128);
}
#kuro p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(0, 0, 0);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
}
#kuro iframe {
    border: 5px solid;
    border-color: rgb(0, 72, 166);
    border-radius: 25px;
}
#kuroThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(0, 72, 166);

    width: 350px;
    margin: auto;
}

#lycoris {
    margin: 10px;
    
    background-color: rgba(207, 207, 207, 0.719);

    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(4, 139, 197);
}
#lycoris p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(0, 56, 121);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
}
#lycoris iframe {
    border: 5px solid;
    border-color: rgb(255, 0, 0);
    border-radius: 25px;
}
#lycorisThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(255, 0, 0);

    width: 350px;
    margin: auto;
} 

#Yofukashi {
    margin: 10px;
    
    background-color: rgba(5, 2, 89, 0.719);

    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(2, 41, 59);
}
#Yofukashi p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(255, 255, 255);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
}
#Yofukashi iframe {
    border: 5px solid;
    border-color: rgb(255, 0, 0);
    border-radius: 25px;
}
#YofukashiThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(247, 159, 246);

    width: 350px;
    margin: auto;
}

#yurei {
    margin: 10px;
    
    background-color: rgba(217, 0, 177, 0.719);

    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(127, 214, 255);
}
#yurei p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(102, 255, 75);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
}
#yurei iframe {
    border: 5px solid;
    border-color: rgb(154, 2, 2);
    border-radius: 25px;
}
#yureiThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(154, 2, 2);

    width: 350px;
    margin: auto;
}

#fuuto {
    margin: 10px;
    
    background-image: linear-gradient(to right, rgba(161, 201, 109, 0.719) , rgba(15, 24, 47, 0.719));

    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(237, 237, 148);
}
#fuuto p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(0, 0, 0);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
}
#fuuto iframe {
    border: 5px solid;
    border-color: rgb(149, 148, 148);
    border-radius: 25px;
}
#fuutoThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(149, 148, 148);

    width: 350px;
    margin: auto;
}




#stone2 {
    margin: 10px;
    
    background-color: rgba(115, 55, 51, 0.719);
    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(0, 5, 146);
}
#stone2 p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(255, 167, 14);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
}
#stone2 iframe {
    border: 5px solid;
    border-color: rgb(0, 38, 253);
    border-radius: 25px;
}
#stone2Thumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(0, 38, 253);

    width: 350px;
    margin: auto;
}

#hataraku2 {
    margin: 10px;
    
    background-color: rgba(115, 55, 51, 0.719);
    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(39, 80, 69);
}
#hataraku2 p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(145, 95, 162);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
}
#hataraku2 iframe {
    border: 5px solid;
    border-color: rgb(0, 38, 253);
    border-radius: 25px;
}
#hataraku2Thumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(230, 0, 90);

    width: 350px;
    margin: auto;
}

#kanojo2 {
    margin: 10px;
    
    background-color: rgba(179, 12, 0, 0.719);
    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(175, 210, 0);
}
#kanojo2 p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(192, 0, 80);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
}
#kanojo2 iframe {
    border: 5px solid;
    border-color: rgb(0, 169, 230);
    border-radius: 25px;
}
#kanojo2Thumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(0, 169, 230);

    width: 350px;
    margin: auto;
}

#abyss2 {
    margin: 10px;
    
    background-color: rgba(199, 212, 150, 0.719);
    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(175, 210, 0);
}
#abyss2 p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(71, 2, 31);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
}
#abyss2 iframe {
    border: 5px solid;
    border-color: rgb(230, 65, 0);
    border-radius: 25px;
}
#abyss2Thumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(230, 65, 0);

    width: 350px;
    margin: auto;
}

#overlord4 {
    margin: 10px;
    
    background-color: rgba(0, 0, 0, 0.719);
    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(61, 0, 96);
}
#overlord4 p {
    padding: 10px;
    border: 3px solid;
    border-color: rgba(139, 1, 1, 0.734);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
}
#overlord4 iframe {
    border: 5px solid;
    border-color: rgb(230, 65, 0);
    border-radius: 25px;
}
#overlord4Thumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(230, 65, 0);

    width: 350px;
    margin: auto;
}

#shadows2 {
    margin: 10px;
    
    background-color: rgba(94, 0, 0, 0.719);
    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(226, 226, 226);
}
#shadows2 p {
    padding: 10px;
    border: 3px solid;
    border-color: rgba(52, 47, 47, 0.734);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
}
#shadows2 iframe {
    border: 5px solid;
    border-color: rgb(230, 173, 0);
    border-radius: 25px;
}
#shadows2Thumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(230, 173, 0);

    width: 350px;
    margin: auto;
}

#Youkoso2 {
    margin: 10px;
    
    background-color: rgba(94, 0, 0, 0.719);
    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(26, 124, 1);
}
#Youkoso2 p {
    padding: 10px;
    border: 3px solid;
    border-color: rgba(242, 255, 0, 0.734);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
}
#Youkoso2 iframe {
    border: 5px solid;
    border-color: rgb(230, 173, 0);
    border-radius: 25px;
}
#Youkoso2Thumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(230, 173, 0);

    width: 350px;
    margin: auto;
}

#dungeon4 {
    margin: 10px;
    
    background-color: rgba(201, 197, 197, 0.719);
    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(7, 3, 122);
}
#dungeon4 p {
    padding: 10px;
    border: 3px solid;
    border-color: rgba(183, 186, 73, 0.734);
    border-radius: 50px;

    background-color: rgba(248, 246, 116, 0.719);

    margin: 10px;
    font-size: 24px;
}
#dungeon4 iframe {
    border: 5px solid;
    border-color: rgb(18, 199, 123);
    border-radius: 25px;
}
#dungeon4Thumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(18, 199, 123);

    width: 350px;
    margin: auto;
}




.grid-thumb {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.source {
    width: 100px;
    vertical-align: middle;

    transition: all ease-out 0.5s;
}
.Studio {
    height: 60px;
    vertical-align:middle;

    transition: all ease-out 0.5s;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;

    text-align: center;
}
.source:hover, .Studio:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 1300px) {
    ul {
        flex-direction: column;
        text-align: center;
    } 
}
@media screen and (max-width: 1088px) {
    .grid-thumb {
        display: flex;
        flex-direction: column;
    }
    .Estréias p, .Continuacoes p{
        text-align: center;
    }
    body {
        font-family: 'Courier New', monospace;
    }
}

#mp3ShowDisable {
    cursor: pointer;
    position: fixed;
    bottom: 100px;
    right: 32px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#1f1f1f;
    box-shadow: 5px 3px 3px black;
    transition: all .4s;
}
.to-top {    
  background: white;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:60px;
  height:60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#1f1f1f;
  text-decoration: none;
  box-shadow: 5px 3px 3px black;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}
.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}

#link {
    margin-top: 10px;
    margin-left: 10px;

    border-top: 1px solid #000000;
    background: #beae03;
    background: -webkit-linear-gradient(top, #f8fc03, #938c01);
    background: -moz-linear-gradient(top, #fc6f03, #d77300);
    background: -o-linear-gradient(top, #03fc6f, #035906);
    padding: 10.5px 21px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: rgb(255, 0, 0);
    font-size: 18px;
    text-decoration: none;
    vertical-align: middle;
    font-family: cursive;

    transition: all ease-out 0.5s;
    }
 #link:hover {
    border-top-color: #8f9606;
    background: #969606;
    color: rgb(255, 0, 0);

    transform: scaleX(200%);
    margin-left: 90px;
}
#anchor {
    text-decoration: none;
    color: #000000;
}


@keyframes backgroundAnimated {
    0% {
        background-position: left top;
    }
    50% {
        background-position: right bottom;
    }
    100% {
        background-position: left top;
    }
}
@keyframes topnavAnimate {
    from {
        margin-left: 200%;
        width: 300%
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*------------------------------------- mp3 player ---------------------------- */
.music-player {
  position: fixed;
  top: 10%;
  right: 10px;
  width: 350px;
  height: 290px;
  box-shadow: 0 0 60px 5px rgb(0, 0, 0);
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;

  opacity: 0.4;
  transition: opacity 0.4s;
}
.music-player:hover {
  opacity: 1;
}
.music-player img {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
  display: block;
  width: 100% !important;
  height: 100% !important;
  filter: blur(1px);
}
.music-player .info {
  width: 100%;
  height: 130px;
  background: rgba(0, 0, 0, 0.459);
  position: relative;
}
.music-player .info .jp-playlist li {
  display: none;
}
.music-player .info .jp-playlist li a {
  font-size: 30px;
  font-weight: 1000;
  text-decoration: none;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black;
  color: rgb(255, 0, 0);
}
.music-player .info .jp-playlist li a span {
  font-size: 14px;
  display: block;
  margin-top: 10px;
}
.music-player .info .jp-playlist li.jp-playlist-current {
  display: block;
}
.music-player .info .jp-playlist li .jp-free-media, .music-player .info .jp-playlist li .jp-playlist-item-remove {
  display: none;
}
.music-player .info .center {
  padding: 20px 0px;
}
.music-player .progress, .music-player .volume-level {
  width: 100%;
  height: 5px;
  display: block;
  background: rgb(112, 56, 4);
  position: absolute;
  bottom: 0px;
  cursor: pointer;
  border: none;
}
.music-player .progress .ui-slider-range, .music-player .volume-level .ui-slider-range {
  display: block;
  background: #ff0000;
  height: 5px;
  border-radius: 5px;
}
.music-player .progress .ui-slider-handle, .music-player .volume-level .ui-slider-handle {
  position: absolute;
  top: -8px;
  width: 8px;
  height: 22px;
  background: url("../../../folders/mp3Icons/progressBorder.png") no-repeat center;
  border: none;
  outline: none;
  margin: 0 0 0 -3px;
  cursor: move;
}
.music-player .controls {
  text-align: center;
  width: 100%;
  height: 300px;
  background: rgba(133, 133, 133, 0.6);
}
.music-player .controls .current {
  font-size: 48px;
  color: rgb(255, 0, 0);
  padding: 0px 0 5px;
}
.music-player .controls .play-controls a {
  display: inline-block;
  width: 35px;
  height: 40px;
  margin: 0 30px;
}
.music-player .controls .volume-level {
  position: relative;
  bottom: auto;
  width: 200px;
  height: 2px;
  margin: 30px auto 0;
  background: rgb(112, 56, 4);
}
.music-player .controls .volume-level .ui-slider-range {
  height: 2px;
}
.music-player .controls .volume-level .ui-slider-handle {
  top: -8px;
  margin-left: -9px;
  width: 22px;
  height: 22px;
  background-image: url("../../../folders/mp3Icons/VolumeChanger.png");
}
.music-player .controls .volume-level .icon-volume-up, .music-player .controls .volume-level .icon-volume-down {
  position: absolute;
  right: -34px;
  top: -8px;
  width: 22px;
}
.music-player .controls .volume-level .icon-volume-down {
  right: auto;
  left: -27px;
}

[class^=icon-] {
  width: 18px;
  height: 18px;
  background: url("../../../folders/mp3Icons/play.png") no-repeat center;
  display: block;
}

.icon-previous {
  background-image: url("../../../folders/mp3Icons/previous.png");
}
.icon-play {
  background-image: url("../../../folders/mp3Icons/play.png");
}
.icon-pause {
  background-image: url("../../../folders/mp3Icons/pause.png");
}
.icon-next {
  background-image: url("../../../folders/mp3Icons/next.png");
}
.icon-volume-up {
  background-image: url("../../../folders/mp3Icons/volumeUp.png");
}
.icon-volume-down {
  background-image: url("../../../folders/mp3Icons/volumeDown.png");
}
