html {
    scroll-behavior: smooth;
  }

/* ------ Background do site --------- */
body {
    background-image: url('./Thumb_Jan_2022.jpg');
    min-width: 543px;

    font-family: cursive;
}
.background {
    animation: backgroundAnimated 500s linear infinite;
}
/* ---------------------------- */

/* ------ Links ------- */
a {
    text-decoration: none;
    color: purple;

}
a:hover {
    font-weight: bold;
}
/* -------------------- */

/* --------- Topnav ---------- */
#banner {
    border: 5px solid;
    border-color: white;

    animation: topnavAnimate 1.5s linear ;
}
.topnav {
    border-radius: 20px;
    overflow: hidden;
    background: url(https://i.pinimg.com/originals/d5/d7/98/d5d798ff8d8c5d624da53a704803ef10.gif);
    background-position: top;
    background-size: cover;
}
.topnav a {
    border: 2px solid;
    border-color: black;

    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 17px;
}
#winter {
    transition: all ease-out 0.3s;
    background-color: rgba(194, 205, 216);
    font-weight: bolder;
    color: black;
}
#spring {
    transition: all ease-out 0.3s;
}
#spring:hover {
    background-color: rgb(61, 247, 117);
    font-weight: bolder;
    color: rgb(163, 165, 42);
}
#summer {
    transition: all ease-out 0.3s;
}
#summer:hover {
    background-color: yellow;
    font-weight: bolder;
    color: red;
}
#fall {
    transition: all ease-out 0.3s;
}
#fall:hover {
    background-color: brown;
    font-weight: bolder;
    color: orange;
    cursor: pointer;
}
.topnav a.active, #phoneIcon {
    background-color: white;
    color: black;
}
.topnav .icon {
    display: none;
}
@media screen and (max-width: 973px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    } 
       
}
@media screen and (max-width: 973px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }    
}
@media screen and (max-width: 770px) {
    #home {
        border-radius: 20px 0px 0px 0px;
    }
    #phoneIcon {
        border-radius: 0px 20px 0px 0px;
    }
    #fall {
        border-radius: 0px 0px 20px 20px;
    }
    
}
/* ----------------------------------- */

/* Estréias -------------------------- */
.Estréias {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.726);
    border: 3px solid;
    border-radius: 10px;
    border-color: black;

    animation: FadeIn 0.5s linear;
}
#estreiasTitle {
    text-align: center;
    padding-bottom: 10px;

    border: 3px solid;
    border-color: black;
    border-top:hidden ; border-left: hidden; border-right: hidden;
}

/* Continuações ------------------------ */
.Continuacoes {
    background-color: rgba(168, 167, 167, 0.726);
    border: 3px solid;
    border-radius: 10px;
    border-color: black;
}
#continuacoesTitle {
    text-align: center;
    padding-bottom: 10px;

    border: 3px solid;
    border-color: black;
    border-top:hidden ; border-left: hidden; border-right: hidden;
}

/* Título do anime -------------------- */
.animeTitle {
    text-align: center;
}
#orient {
    margin: 10px;
    
    background-color: rgba(248, 148, 117, 0.719);

    border: 5px solid;
    border-radius: 5px;
    border-color: rgba(83, 190, 248);
}
#orient p {
    padding: 10px;
    border: 3px solid;
    border-color: rgba(83, 190, 248);
    border-radius: 50px;

    background-color: rgba(248, 196, 117, 0.719);

    margin: 10px;
    font-size: 24px;
}
#OrientThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: orange;

    width: 350px;
    margin: auto;
}


#leadale {
    margin: 10px;
    
    background-color: rgba(155, 247, 185, 0.719);

    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(212, 248, 83);
}
#leadale p {
    padding: 10px;
    border: 3px solid;
    border-color: orange;
    border-radius: 50px;

    background-color: rgba(248, 196, 117, 0.719);

    margin: 10px;
    font-size: 24px;
}
#leadaleThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: orange;

    width: 350px;
    margin: auto;
}

#hakozume {
    margin: 10px;
    
    background-color: rgba(74, 152, 241, 0.719);

    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(248, 83, 221);
}
#hakozume p {
    padding: 10px;
    border: 3px solid;
    border-color: pink;
    border-radius: 50px;

    background-color: rgba(248, 196, 117, 0.719);

    margin: 10px;
    font-size: 24px;
}
#hakozumeThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: pink;

    width: 350px;
    margin: auto;
}

#tokyo {
    margin: 10px;
    
    background-image: linear-gradient(rgba(56, 105, 97, 0.719), rgba(89, 144, 214, 0.719), rgba(227, 93, 65, 0.719));

    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(248, 83, 105);
}
#tokyo p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(228, 95, 117);
    border-radius: 50px;

    background-color: rgba(248, 196, 117, 0.719);

    margin: 10px;
    font-size: 24px;
}
#tokyoThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(250, 117, 139);

    width: 350px;
    margin: auto;
}

#slow {
    margin: 10px;
    
    background-color: rgba(74, 152, 241, 0.719);

    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(189, 62, 70);
}
#slow p {
    padding: 10px;
    border: 3px solid;
    border-color: pink;
    border-radius: 50px;

    background-color: rgba(248, 196, 117, 0.719);

    margin: 10px;
    font-size: 24px;
}
#slowThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(189, 62, 70);

    width: 350px;
    margin: auto;
}

#doll {
    margin: 10px;
    
    background-image: linear-gradient(rgba(229, 35, 44, 0.719), rgba(3, 7, 96, 0.719));

    border: 5px solid;
    border-radius: 5px;
    border-color: white;
}
#doll p {
    padding: 10px;
    border: 3px solid;
    border-color: white;
    border-radius: 50px;

    background-color: rgba(248, 196, 117, 0.719);

    margin: 10px;
    font-size: 24px;
}
#dollThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: white;

    width: 350px;
    margin: auto;
}

#cue {
    margin: 10px;
    
    background-color: rgba(118, 93, 72, 0.719);
    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(40, 46, 82);
}
#cue p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(40, 46, 82);
    border-radius: 50px;

    background-color: rgba(248, 196, 117, 0.719);

    margin: 10px;
    font-size: 24px;
}
#cueThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(40, 46, 82);

    width: 350px;
    margin: auto;
}

#bisque {
    margin: 10px;
    
    background-color: rgba(253, 216, 179, 0.719);
    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(228, 111, 94);
}
#bisque p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(228, 111, 94);
    border-radius: 50px;

    background-color: rgba(248, 196, 117, 0.719);

    margin: 10px;
    font-size: 24px;
}
#bisqueThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(228, 111, 94);

    width: 350px;
    margin: auto;
}

#akebi {
    margin: 10px;
    
    background-color: rgba(201, 188, 192, 0.719);
    border: 5px solid;
    border-radius: 5px;
    border-color: white;
}
#akebi p {
    padding: 10px;
    border: 3px solid;
    border-color: white;
    border-radius: 50px;

    background-color: rgba(248, 196, 117, 0.719);

    margin: 10px;
    font-size: 24px;
}
#akebiThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: white;

    width: 350px;
    margin: auto;
}

#baraou {
    margin: 10px;
    
    background-image: linear-gradient(rgba(243, 232, 239, 0.719), rgba(49, 42, 42, 0.719));
    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(150, 43, 66);
}
#baraou p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(150, 43, 66);
    border-radius: 50px;

    background-color: rgba(248, 196, 117, 0.719);

    margin: 10px;
    font-size: 24px;
}
#baraouThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(150, 43, 66);

    width: 350px;
    margin: auto;
}

#tribe {
    margin: 10px;
    
    background-image: linear-gradient(rgba(12, 27, 56, 0.719), rgba(17, 74, 185, 0.719));
    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(253, 254, 215);
}
#tribe p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(253, 254, 215);
    border-radius: 50px;

    background-color: rgba(248, 196, 117, 0.719);

    margin: 10px;
    font-size: 24px;
}
#tribeThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(253, 254, 215);

    width: 350px;
    margin: auto;
}

#sabikui {
    margin: 10px;
    
    background-color: rgba(233, 51, 46, 0.719);
    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(254, 241, 0);
}
#sabikui p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(254, 241, 0);
    border-radius: 50px;

    background-color: rgba(248, 196, 117, 0.719);

    margin: 10px;
    font-size: 24px;
}
#sabikuiThumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(254, 241, 0);

    width: 350px;
    margin: auto;
}


#takagi3 {
    margin: 10px;
    
    background-color: rgba(134, 206, 252, 0.719);
    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(149, 196, 125);
}
#takagi3 p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(149, 196, 125);
    border-radius: 50px;

    background-color: rgba(248, 196, 117, 0.719);

    margin: 10px;
    font-size: 24px;
}
#takagi3Thumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(149, 196, 125);

    width: 350px;
    margin: auto;
}

#shingeki2 {
    margin: 10px;
    
    background-color: rgba(3, 76, 172, 0.719);
    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(165, 240, 229);
}
#shingeki2 p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(165, 240, 229);
    border-radius: 50px;

    background-color: rgba(248, 196, 117, 0.719);

    margin: 10px;
    font-size: 24px;
}
#shingeki2Thumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(165, 240, 229);

    width: 350px;
    margin: auto;
}

#princess2 {
    margin: 10px;
    
    background-color: rgba(211, 185, 110, 0.719);
    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(92, 138, 172);
}
#princess2 p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(92, 138, 172);
    border-radius: 50px;

    background-color: rgba(248, 196, 117, 0.719);

    margin: 10px;
    font-size: 24px;
}
#princess2Thumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(92, 138, 172);

    width: 350px;
    margin: auto;
}

#arifureta2 {
    margin: 10px;
    
    background-color: rgba(55, 54, 62, 0.719);
    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(102, 44, 58);
}
#arifureta2 p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(102, 44, 58);
    border-radius: 50px;

    background-color: rgba(248, 196, 117, 0.719);

    margin: 10px;
    font-size: 24px;
}
#arifureta2Thumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(92, 138, 172);

    width: 350px;
    margin: auto;
}

#vanitas2 {
    margin: 10px;
    
    background-color: rgba(1, 95, 232, 0.719);
    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(102, 44, 58);
}
#vanitas2 p {
    padding: 10px;
    border: 3px solid;
    border-color: rgb(102, 44, 58);
    border-radius: 50px;

    background-color: rgba(248, 196, 117, 0.719);

    margin: 10px;
    font-size: 24px;
}
#vanitas2Thumb {
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(231, 150, 17);

    width: 350px;
    margin: auto;
}


.grid-thumb {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.source {
    width: 100px;
    vertical-align: middle;

    transition: all ease-out 0.5s;
}
.Studio {
    height: 60px;
    vertical-align:middle;

    transition: all ease-out 0.5s;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;

    text-align: center;
}
.source:hover, .Studio:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 1300px) {
    ul {
        flex-direction: column;
        text-align: center;
    } 
}
@media screen and (max-width: 1088px) {
    .grid-thumb {
        display: flex;
        flex-direction: column;
    }
    body {
        font-family: 'Courier New', monospace;
    }
    #orient p, #leadale p, #hakozume p, #tokyo p, #slow p, #doll p, #cue p, #bisque p, #akebi p, #baraou p, #tribe p, #sabikui p, #takagi3 p, #shingeki2 p, #princess2 p, #arifureta2 p, #vanitas2 p{
        text-align: center;
    }
}

.to-top {    
  background: white;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:60px;
  height:60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#1f1f1f;
  text-decoration: none;
  box-shadow: 5px 3px 3px black;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}
.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}

@keyframes backgroundAnimated {
    0% {
        background-position: left top;
    }
    50% {
        background-position: right bottom;
    }
    100% {
        background-position: left top;
    }
}
@keyframes topnavAnimate {
    from {
        margin-left: 200%;
        width: 300%
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
